schemas/src/main/xsd/PegasusConfig.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://brekka.org/xml/pegasus/v1/config"
	xmlns:plxc="http://brekka.org/xml/pegasus/v1/config" xmlns:pnxm="http://brekka.org/xml/phoenix/v1/model" 
    xmlns:pgm="http://brekka.org/xml/pegasus/v1/model"
	elementFormDefault="qualified" attributeFormDefault="unqualified">
	
	<xsd:import namespace="http://brekka.org/xml/phoenix/v1/model" />
	<xsd:import namespace="http://brekka.org/xml/pegasus/v1/model" />
	
	<xsd:element name="Pegasus">
		<xsd:complexType>
			<xsd:sequence>
                <xsd:element name="FetchBase" type="xsd:anyURI" />
                <xsd:element name="ResourceStoreDir" type="xsd:anyURI" />
                <xsd:element name="EMailAddresses">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="Hashing">
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element name="Iterations" type="xsd:int" />
                                        <xsd:element name="Algorithm"  type="xsd:string" />
                                        <xsd:element name="Salt"       type="xsd:base64Binary" />
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element  name="AnonymousTransfer">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="Firewall" type="plxc:FirewallType" />
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
				<xsd:element ref="pnxm:CryptoProfileRegistry" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
    
    <xsd:complexType name="FirewallType">
        <xsd:sequence>
            <xsd:element name="ID" type="pgm:UUIDType" />
            <xsd:element name="Network" type="xsd:string" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
