schemas/src/main/xsd/PegasusModel.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://brekka.org/xml/pegasus/v2/model"
	xmlns:pgm="http://brekka.org/xml/pegasus/v2/model" elementFormDefault="qualified"
	attributeFormDefault="unqualified">

	<xsd:element name="Bundle"              type="pgm:BundleType" />
	<xsd:element name="Allocation"          type="pgm:AllocationType" />
	<xsd:element name="Profile"             type="pgm:ProfileType" />
	<xsd:element name="Organization"        type="pgm:OrganizationType" />
    <xsd:element name="Robot"               type="pgm:RobotType" />
	<xsd:element name="Division"            type="pgm:DivisionType" />
	<xsd:element name="Invitation"          type="pgm:InvitationType" />
    <xsd:element name="Template"            type="pgm:TemplateType" />
    <xsd:element name="ExportedTemplate"    type="pgm:ExportedTemplateType" />
    <xsd:element name="ExportedTemplates">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="ExportedTemplate" type="pgm:ExportedTemplateType" minOccurs="0" maxOccurs="unbounded" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="EMailMessage"    type="pgm:EMailMessageType" />
    
    <xsd:complexType name="BundleType">
		<xsd:sequence>
			<xsd:element name="File"        type="pgm:FileType"     minOccurs="1" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>
    
    <xsd:complexType name="AllocationType">
		<xsd:sequence>
			<xsd:element name="Details"     type="pgm:DetailsType"  minOccurs="0" maxOccurs="1" />
			<xsd:element name="Bundle"      type="pgm:BundleType"   minOccurs="0" maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>
    
    <xsd:complexType name="DetailsType">
        <xsd:sequence>
            <xsd:element name="Reference"   type="xsd:string"       minOccurs="0" maxOccurs="1" />
            <xsd:element name="Subject"     type="xsd:string"       minOccurs="0" maxOccurs="1" />
            <xsd:element name="Description" type="xsd:string"       minOccurs="0" maxOccurs="1" />
            <xsd:element name="Comment"     type="xsd:string"       minOccurs="0" maxOccurs="1" />
            <xsd:element name="Agreement"   type="xsd:string"       minOccurs="0" maxOccurs="1" />
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="FileType">
		<xsd:sequence>
			<xsd:element name="UUID"        type="pgm:UUIDType"     minOccurs="1" maxOccurs="1" />
			<xsd:element name="Name"        type="xsd:string"       minOccurs="1" maxOccurs="1" />
			<xsd:element name="Length"      type="xsd:long"         minOccurs="1" maxOccurs="1" />
			<xsd:element name="MimeType"    type="xsd:string"       minOccurs="1" maxOccurs="1" />
			<xsd:element name="Key"         type="xsd:base64Binary" minOccurs="0" maxOccurs="1" />
            <xsd:element name="MaxDownloads" type="xsd:int"         minOccurs="0" maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>
    
    <xsd:complexType name="ProfileType">
		<xsd:sequence>
            <xsd:element name="FullName"    type="xsd:string"       minOccurs="0" maxOccurs="1" />
            <xsd:element name="EMail"       type="pgm:EMailType"    minOccurs="0" maxOccurs="unbounded" />
			<xsd:element name="Inbox"       type="pgm:InboxType"    minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="TOTPSecret"  type="xsd:base64Binary" minOccurs="0" maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>
    
    <xsd:complexType name="InvitationType">

	</xsd:complexType>
    

    <xsd:complexType name="DivisionInvitationType">
        <xsd:complexContent>
            <xsd:extension base="pgm:InvitationType">
                <xsd:sequence>
                    <xsd:element name="SenderFullName"    type="xsd:string"       minOccurs="1" maxOccurs="1" />
                    <xsd:element name="Comment"           type="xsd:string"       minOccurs="0" maxOccurs="1" />
                    <xsd:choice>
                        <xsd:element name="Organization">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="ID"      type="pgm:UUIDType"     minOccurs="1" maxOccurs="1" />
                                    <xsd:element name="Name"    type="xsd:string"       minOccurs="1" maxOccurs="1" />
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element name="Division">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="ID"      type="pgm:UUIDType"     minOccurs="1" maxOccurs="1" />
                                    <xsd:element name="Name"    type="xsd:string"       minOccurs="1" maxOccurs="1" />
                                    <xsd:element name="OrgName" type="xsd:string"     minOccurs="1" maxOccurs="1" />
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:choice>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
    <xsd:complexType name="OrganizationType">
		<xsd:sequence>
            <xsd:element name="Name"      type="xsd:string" minOccurs="0" >
                <xsd:annotation>
                    <xsd:documentation>The name of this organization,</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
		</xsd:sequence>
	</xsd:complexType>
    
    
    <xsd:complexType name="RobotType">
        <xsd:annotation>
            <xsd:documentation>Information that will be retained about the robot.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="Name"      type="xsd:string" minOccurs="0" >
                <xsd:annotation>
                    <xsd:documentation>A name assigned for easier reference</xsd:documentation>
                </xsd:annotation></xsd:element>
            <xsd:element name="Directive" type="xsd:string" minOccurs="0" >
                <xsd:annotation>
                    <xsd:documentation>What is the purpose of this robot? Useful to specify this so others can see what the robot is used for.</xsd:documentation>
                </xsd:annotation></xsd:element>
            <xsd:element name="Key"       type="xsd:string" minOccurs="0" >
                <xsd:annotation>
                    <xsd:documentation>The key (or 'username') that this robot authenticates with. Provided here since the username will not normally be available from the database.</xsd:documentation>
                </xsd:annotation></xsd:element>
            <xsd:element name="Code"      type="xsd:string" minOccurs="0" >
                <xsd:annotation>
                    <xsd:documentation>The code (or 'password') the robot will authenticate with. Can be included here for future lookup as it will not be available anywhere else.</xsd:documentation>
                </xsd:annotation></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="DivisionType">
		<xsd:sequence>
            
		</xsd:sequence>
	</xsd:complexType>
    
    <xsd:complexType name="EMailType">
		<xsd:sequence>
			<xsd:element name="UUID"        type="pgm:UUIDType"     minOccurs="1" maxOccurs="1" />
			<xsd:element name="Address"     type="xsd:anyURI"       minOccurs="1" maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>
    
    <xsd:complexType name="InboxType">
		<xsd:sequence>
            <xsd:element name="UUID"        type="pgm:UUIDType"     minOccurs="1" maxOccurs="1" />
            <xsd:element name="Name"        type="xsd:string"       minOccurs="1" maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>
    
    <xsd:complexType name="EMailMessageType">
        <xsd:sequence>
            <xsd:element name="UUID"        type="pgm:UUIDType"     minOccurs="1" maxOccurs="1" />
            <xsd:element name="Subject"     type="xsd:string"       minOccurs="1" maxOccurs="1" />
            <xsd:element name="Sender"      type="pgm:EMailType"    minOccurs="1" maxOccurs="1" />
            <xsd:element name="Recipient"   type="pgm:EMailType"    minOccurs="1" maxOccurs="unbounded" />
            <xsd:element name="Content"                             minOccurs="1" maxOccurs="2">
                <xsd:complexType>
                    <xsd:simpleContent>
                        <xsd:extension base="xsd:string">
                            <xsd:attribute name="type">
                                <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                        <xsd:enumeration value="PLAIN" />
                                        <xsd:enumeration value="HTML" />
                                    </xsd:restriction>
                                </xsd:simpleType>
                            </xsd:attribute>
                        </xsd:extension>
                    </xsd:simpleContent>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="Attachment" type="pgm:FileType" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="TemplateType">
        <xsd:sequence>
            <xsd:element name="Label"         type="xsd:string"    />
            <xsd:element name="Documentation" type="xsd:string"    minOccurs="0" />
            <xsd:element name="Content"       type="xsd:string"    />
            <xsd:element name="ExampleVariables" type="xsd:string" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ExportedTemplateType">
        <xsd:complexContent>
            <xsd:extension base="pgm:TemplateType">
                <xsd:sequence>
                    <xsd:element name="Slug" type="xsd:string" />
                    <xsd:element name="Engine" type="xsd:string" />
                    <xsd:element name="PlainLabel" type="xsd:string" />
                    <xsd:element name="Encrypt" type="xsd:boolean" />
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
    
    <xsd:simpleType name="UUIDType">
    	<xsd:restriction base="xsd:string">
    		<xsd:pattern value="[a-f0-9]{8}\-[a-f0-9]{4}\-[a-f0-9]{4}\-[a-f0-9]{4}\-[a-f0-9]{12}" />
    	</xsd:restriction>
    </xsd:simpleType>
</xsd:schema>