schemas/src/main/xsd/PegasusConfig.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://brekka.org/xml/pegasus/v1/config"
	xmlns:plxc="http://brekka.org/xml/pegasus/v1/config" xmlns:pnxm="http://brekka.org/xml/phoenix/v1/model" 
	elementFormDefault="qualified" attributeFormDefault="unqualified">
	
	<xsd:import namespace="http://brekka.org/xml/phoenix/v1/model" />
	
	<xsd:element name="Pegasus">
		<xsd:complexType>
			<xsd:sequence>
                <xsd:element name="FetchBase" type="xsd:anyURI" />
                <xsd:element name="ResourceStoreDir" type="xsd:anyURI" />
				<xsd:element ref="pnxm:CryptoProfileRegistry" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
